<!DOCTYPE html>
<html>
<head>
  <title>Our Moon Gardens</title>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="main-container">
    <div class="nav">
      <ul>
        <li>
         <form>
          <button type="submit"><span>{{garden_name}}</span></button>
         </form>
        </li>
        <li>
         <form>
          <button type="submit">{{username}}</button>
         </form>
        </li>
        <li>
          <form action="/garden" method="post">
           <input id="contents" name="contents" type="hidden" value='{{contents}}' />
           <button type="submit">SAVE CHANGES</button>
          </form>
        </li>
        <li>
          <form action="/logout" method="get">
            <button type="submit">LOGOUT</button>
          </form>
        </li>
        <li><img src="/images/omglogoneonsmall.png" alt="mymoongaardenlogo" id="logo">
        </li>
      </ul>
    </div>

<!-- you don't notice in the html but this is where the user does most stuff -->
    <div class="scrollbar-container">
        <div id="garden-space" class="inner">
        </div>
    </div>


    <div class="item-container">
      <div class="erase-mode">
        <div class="add">ADD</div><div class="erase">REMOVE</div>
      </div>
      <div class="items inner-box">
        <div class="item item1"></div>
        <div class="item item2"></div>
        <div class="item item3"></div>
        <div class="item item4"></div>
        <div class="item item5"></div>
        <div class="item item6"></div>
        <div class="item item7"></div>
        <div class="item item8"></div>
        <div class="item item9"></div>
      </div>

      <div class="giphy-items inner-box">
        <div class="item-header">
          <form id="giphy-search" class="giphy-controls">
            <input id="search" name="search" placeholder ="giphy it!" />
<!--             <button id="submitbutton" type="submit">&#x2315</button> -->
            <button class="giphy-back" type="submit"> < </button>
            <button class="giphy-page" type="submit">0</button>
            <button class="giphy-forward" type="submit"> > </button>
          </form>

        </div> <!-- item-header -->
        <div class="item giphy-item1"></div>
        <div class="item giphy-item2"></div>
        <div class="item giphy-item3"></div>
        <div class="item giphy-item4"></div>
        <div class="item giphy-item5"></div>
        <div class="item giphy-item6"></div>
        <div class="item giphy-item7"></div>
        <div class="item giphy-item8"></div>
        <div class="item giphy-item9"></div>
      </div>
    </div> <!-- item-container -->


  </div> <!-- main-container -->

  <script src="/js/jquery.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/script.js" type="text/javascript" charset="utf-8"></script>
</body>


</html>
