<!doctype html>
<html>
  <head>
    <title>Our Moon Gardens</title>
    <!-- <link rel="stylesheet" type="text/css" href="/css/reset.css"> -->
    <link rel="stylesheet" type="text/css" href="/css/nongame.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="main-container">
        <div id="logo">
        </div>
        <!-- logged in -->
        {{#logged_in}}
        <div class= "garden-icon">
          <a href= "../garden/{{garden_id}}">
          <div class= "garden-name">
            {{username}}'s Moon Garden..{{garden_name}}
          </div>
          <div class= "garden-thumbnail">
            <img src="images/omggardenicon.png" />
          </div>
          </a>
        </div>
        {{/logged_in}}
        <!-- logged in -->

        <!-- not logged in -->
        {{^logged_in}}
        <div class="form">
            <form action="/login" method="post">
              <fieldset>
                  <label for="inputEmail">Email</label>
                    <input name="email" type="text" id="inputEmail" placeholder="Email">
                  <label for="inputPassword">Password</label>
                    <input name="password" type="password" id="inputPassword" placeholder="Password">
                    <button type="submit">Login</button>
              </fieldset>
            </form>

          <p>Not a Moon Gardener?  <a href="/signup">  Sign Up  </a></p>
        </div>
        {{/logged_in}}
        <!-- not logged in -->
        <div class="footer"><img src="images/PoweredBy_200_Horizontal_Light-Backgrounds_With_Logo.gif" /></div>
    </div> <!-- main-container -->
  </body>
</html>
