<!doctype html>
<html>
  <head>
    <title>Our Moon Gardens</title>
    <!-- <link rel="stylesheet" type="text/css" href="/css/reset.css"> -->
    <link rel="stylesheet" type="text/css" href="/css/nongame.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="main-container">
        <div id="logo">
        </div>
        {{^logged_in}}
        <div class="form">
          <form action="/signup" method="post">
            <fieldset>
              <label for="email">Email</label>
                <input name="email" type="text" id="email-input" placeholder="my email">
              <label for="username">User Name</label>
                <input name="username" type="text" id="username-input" placeholder="my username">
              <label for="password">Password</label>
                <input name="password" type="password" id="password-input" placeholder="my password">
              <label for="garden">Garden Name</label>
                <input name="gardenname" type="text" id="garden-name-input" placeholder="My Moon Gaarden">
              <button type="submit">Sign Up</button>
            </fieldset>
          </form>
        </div>
        {{/logged_in}}

        <!-- already logged in -->
        {{#logged_in}}
        <div>
          <p>You are logged in, {{username}}..</p>
        </div>
        <div>
          <a href="/garden/{{garden_id}}">{{username}}'s Garden</a>
          <a href="#">Other Gardens</a>
        </div>
        {{/logged_in}}

        <div class="footer"><img src="images/PoweredBy_200_Horizontal_Light-Backgrounds_With_Logo.gif" /></div>
        

    </div> <!-- main-container -->
  </body>
</html>


